* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --orange-10: #ffefeb;
  --orange-50: #f98f75;
  --orange-100: #f25f3a;
  --blue-50: #9095a7;
  --blue-100: #242d52;
  --blue-200: #1d1e25;
  --gray-10: #fafafa;
}
